---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
---

<DashboardLayout title="Sponsors" activeTab="sponsors">
  <div style="text-align:center;padding:64px;color:#69322d;opacity:.5;font-family:'Poppins',sans-serif">
    Aucun sponsor pour l'instant.
  </div>
</DashboardLayout>
